* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent{
    background-color: blue;
    padding: 20px;
    /* width: 900px; */
    width: 50%;
    margin: 0 auto;
     /* overflow: auto;  */
}

.child{
    background-color: violet;
    width: 60%;
    height: 250px;
}
