* { box-sizing: border-box; }

body { 
    margin: 0;
    font-family: sans-serif;
} 

.intro{
    background: #23424A;
    color: silver;
    padding: 20px 0; 
}

.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.intro-content {
    width: 50%;
}
